<h1>Lista de Usuarios: </h1>
{{#each usuarios}}
<small>{{createdAt}}</small>
<h2>Nome Completo: {{nome}}</h2>
<h3>Login: {{login}}</h3>
<h3>Email: {{email}}</h3>


<a href="/deletarUsu/{{id}}"><button>Deletar</button></a>
<a href="/upUsuario/:id"><button>Alterar</button></a>
<hr>
{{/each}}